<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="MainBack">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="margin-left:5.5%">
                @Html.ActionLink("Community", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-header">
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Управление", "AdminPage", "Admin", new { }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse" style="margin-right:4%">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                @RenderBody()
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <a href="/Home/News" class="list-group-item">
                        <span class="glyphicon glyphicon-list-alt"></span> Мои новости <span class="badge"></span>
                    </a>
                    <a href="/Home/Dialogues" class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Мои диалоги <span class="badge"></span>
                    </a>
                    <a href="/Home/Photos" class="list-group-item">
                        <span class="glyphicon glyphicon-camera"></span> Мои фотографии <span class="badge"></span>
                    </a>
                    <a href="/Home/Groups" class="list-group-item">
                        <span class="glyphicon glyphicon-link"></span> Мои группы <span class="badge"></span>
                    </a>
                    <a href="/Home/Friends" class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span> Мои друзья <span class="badge"></span>
                    </a>
                    <a href="/Home/Music" class="list-group-item">
                        <span class="glyphicon glyphicon-music"></span> Моя музыка <span class="badge"></span>
                    </a>
                    <a href="/Home/MusicWebApi" class="list-group-item">
                        <span class="glyphicon glyphicon-music"></span> Моя музыка WebApi <span class="badge"></span>
                    </a>
                </div>
                @if (IsSectionDefined("Group"))
                {
                    <div>
                        @RenderSection("Group")
                    </div>
                }

                @if (IsSectionDefined("GroupRelation"))
                {
                    <div>
                        @RenderSection("GroupRelation")
                    </div>
                }

                @if (IsSectionDefined("CreateGroup"))
                {
                    <div>
                        @RenderSection("CreateGroup")
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
