@model Community3.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
</head>

<body class="MainBack" style="text-align:center">
    <div class="MainWindow" style="margin-left:300px; margin-right:300px">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h4>Создайте новую учетную запись.</h4>
            <hr />
            @Html.ValidationSummary()
            <div>
                <div>
                    @Html.LabelFor(m => m.Name)
                </div>
                <div>
                    @Html.EditorFor(m => m.Name)
                </div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(m => m.Surname)
                </div>
                <div>
                    @Html.EditorFor(m => m.Surname)
                </div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(m => m.Email)
                </div>
                <div>
                    @Html.EditorFor(m => m.Email)
                </div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(m => m.Password)
                </div>
                <div>
                    @Html.EditorFor(m => m.Password)
                </div>
            </div>
            <div>
                <div>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div>
                    @Html.EditorFor(m => m.ConfirmPassword)
                </div>
            </div>
            <br />
            <div>
                <div>
                    <input type="submit" value="Регистрация" />
                </div>
            </div>
            <br />
            <p>
                @Html.ActionLink("Вход для зарегистрированных пользователей", "Login")
            </p>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>