@model Community3.Models.Group

<div style="background-color: white; border-radius: 4px; border: thin solid #dddddd">
    <div class="container-fluid" style="padding-top: 2%">
        <div class="row" style="margin-left: auto">
            <div class="col-md-12" style="text-align:center">
                <h3>Подписчики группы @Model.Name</h3>
                @foreach (var user in Model.AppUsers)
                {
                    <div>
                        <img src="@Url.Content(user.Images.Count > 0 ? user.Images.First().Path : "~/Content/no-avatar.png")" alt="Фотография подписчика @user.FullName" title="Фотография подписчика @user.FullName" style="max-width: 80px; height: 80px; border-radius: 50%" />
                    </div>
                    @Html.ActionLink(user.FullName, "UserProfile", "Home", new { id = user.Id }, null)
                    if (ViewBag.userId == Model.OwnerId)
                    {
                        <div>
                            @Html.ActionLink("Запретить доступ к группе", "BlockUser", "Group", new { groupId = Model.GroupId, userId = user.Id }, null)
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
