@model Community3.Models.Message

<br />
<div class="row">
    <div class="col-md-2">
        <img src="@Url.Content(Model.Sender.Photo != null ? Model.Sender.Photo.Path : "~/Images/no-avatar.png")" alt="Фотография пользователя" title="@Model.Sender.FullName" style="max-width: 100%; height:auto; border-radius: 10%" />
    </div>
    <div class="col-md-10">
        <div style="font-weight:600">
            @Model.Sender.FullName
        </div>
        <div>
            @Model.CreationTime.ToString("d MMM H:m")
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @Model.Text
    </div>
</div>
<hr />
