@model Community3.Models.ChatRoom

<body>
    <div style="background-color: white; border-radius: 4px; border: thin solid #dddddd">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto">
                <div class="col-md-12" style="text-align:center">
                    <div class="main">
                        @*<div id="loginBlock">
                                Введите логин:<br />
                                <input id="txtUserName" type="text" />
                                <input id="btnLogin" type="button" value="Войти" />
                            </div>*@
                        <div>
                            <h3>@ViewBag.interlocutor.FullName</h3>
                        </div>
                        <div id="chatBody">
                            <div id="inputForm">
                                <input type="hidden" id="chatId" value="@Model.ChatRoomId" />
                                <input type="text" id="message" />
                                <input type="button" id="sendmessage" value="Отправить" />
                            </div>
                            <div>

                            </div>
                            <div id="chatroom">
                                @foreach (var message in Model.Messages)
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            @if (message.Sender.Photo != null)
                                            {
                                                <img src="@Url.Content(message.Sender.Photo.Path)" alt="Фотография пользователя" title="@message.Sender.FullName" style="max-width: 100%; height:auto; border-radius: 10%" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Images/no-avatar.png")" alt="Фотография пользователя" title="@message.Sender.FullName" style="max-width: 100%; height:auto; border-radius: 10%" />
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            <div style="font-weight:600">
                                                @message.Sender.FullName
                                            </div>
                                            <div>
                                                @message.CreationTime.ToString("d MMM H:m")
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="row">
                                        @message.Text
                                    </div>
                                    <hr />
                                }
                            </div>

                            <div id="chatusers">
                                <p><b>Все пользователи</b></p>
                            </div>
                        </div>
                        <input id="hdId" type="hidden" />
                        <input id="username" type="hidden" value="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
    {
    <script type="text/javascript">
        $(function () {

            $(document).mousemove(function () {

                var name = $('#username').val();
                chat.server.connect(name);
            });

            //$('#chatBody').hide();
            //$('#loginBlock').show();
            // Ссылка на автоматически-сгенерированный прокси хаба
            var chat = $.connection.chatHub;
            // Объявление функции, которая хаб вызывает при получении сообщений
            chat.client.addMessage = function (name, message) {
                // Добавление сообщений на веб-страницу
                $('#chatroom').append('<p><b>' + htmlEncode(name)
                    + '</b>: ' + htmlEncode(message) + '</p>');
            };

            // Функция, вызываемая при подключении нового пользователя
            chat.client.onConnected = function (id, userName, allUsers) {

                //$('#loginBlock').hide();
                //$('#chatBody').show();
                // установка в скрытых полях имени и id текущего пользователя
                $('#hdId').val(id);
                $('#username').val(userName);

                // Добавление всех пользователей
                for (i = 0; i < allUsers.length; i++) {

                    AddUser(allUsers[i].ConnectionId, allUsers[i].Name);
                }
            }

            // Добавляем нового пользователя
            chat.client.onNewUserConnected = function (id, name) {

                AddUser(id, name);
            }

            // Удаляем пользователя
            chat.client.onUserDisconnected = function (id, userName) {

                $('#' + id).remove();
            }

            // Открываем соединение
            $.connection.hub.start().done(function () {

                $('#sendmessage').click(function () {
                    // Вызываем у хаба метод Send
                    chat.server.send('@ViewBag.currentUser.Id', $('#message').val(), $('#chatId').val());
                    $('#message').val('');
                });

                //$('#sendmessage').click(function () {
                //    // Вызываем у хаба метод Send
                //    chat.server.send($('#username').val(), $('#message').val());
                //    $('#message').val('');
                //});

                // обработка логина
                //$("#btnLogin").click(function () {

                //    var name = $("#txtUserName").val();
                //    if (name.length > 0) {
                //        chat.server.connect(name);
                //    }
                //    else {
                //        alert("Введите имя");
                //    }
                //});
            });
        });
        // Кодирование тегов
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        //Добавление нового пользователя
        function AddUser(id, name) {

            var userId = $('#hdId').val();

            if (userId != id) {

                $("#chatusers").append('<p id="' + id + '"><b>' + name + '</b></p>');
            }
        }
    </script>
}

