@model Community3.Models.ChatRoom


<body>
    <div class="MainWindow">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto; margin-right:auto">
                <div class="col-md-12">
                    <div style="font-size:large; font-weight:600">Диалог с @ViewBag.interlocutor.FullName</div>
                    <br />
                    <div class="main">
                        <div id="chatBody">
                            <div id="inputForm" class="input-group">
                                <input type="hidden" id="chatId" value="@Model.ChatRoomId" />
                                <input type="text" class="form-control" id="message" style="border-top-left-radius:4px; border-bottom-left-radius:4px" />
                                <span class="input-group-btn" style="border-radius:4px">
                                    <button type="button" class="btn btn-default" id="sendmessage">Отправить</button>
                                </span>
                            </div>
                            <div id="chatroom">
                                <div id="start"></div>
                                @foreach (var message in Model.Messages.Reverse())
                                {
                                    @Html.Partial("_Message", message);
                                }
                            </div>
                        </div>
                        @*<input id="hdId" type="hidden" />
                        <input id="username" type="hidden" value="" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
    {
    <script type="text/javascript">
        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addMessage = function (id, message, chatId) {

                var data = new FormData();

                data.append("userId", id);
                data.append("message", message);
                data.append("chatId", chatId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ShowNewMessageAjax", "Home")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        var start = $('#start');
                        start.prepend(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responsetext);
                    }
                });
            };

            $.connection.hub.start().done(function () {

                $('#sendmessage').click(function () {
                    var message = $('#message').val();
                    chat.server.send('@ViewBag.currentUser.Id', message, $('#chatId').val());
                    $('#message').val('');
                });
            });
        });
    </script>
}

