@model Community3.Models.ChatRoom


<body>

    <div class="MainWindow">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto; margin-right:auto">
                <div class="col-md-12">
                    <div style="font-size:large; font-weight:600">Диалог с @ViewBag.interlocutor.FullName</div>
                    <br />
                    <div class="main">
                        <div id="chatBody">
                            <div id="inputForm" class="input-group">
                                <input type="hidden" id="chatId" value="@Model.ChatRoomId" />
                                <input type="text" class="form-control" id="message" style="border-top-left-radius:4px; border-bottom-left-radius:4px" />
                                <span class="input-group-btn" style="border-radius:4px">
                                    <button type="button" class="btn btn-default" id="sendmessage">Отправить</button>
                                </span>
                            </div>
                            <div id="chatroom">
                                <div id="start"></div>
                                @foreach (var message in Model.Messages.Reverse())
                                {
                                    @Html.Partial("_Message", message);
                                }
                            </div>
                        </div>
                        <input id="hdId" type="hidden" />
                        <input id="username" type="hidden" value="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts
    {
    <script type="text/javascript">
        $(function () {

            //$(document).mousemove(function () {

            //    var name = $('#username').val();
            //    chat.server.connect(name);
            //});

            //$('#chatBody').hide();
            //$('#loginBlock').show();
            // Ссылка на автоматически-сгенерированный прокси хаба
            var chat = $.connection.chatHub;
            // Объявление функции, которая хаб вызывает при получении сообщений
            chat.client.addMessage = function (id, message, chatId) {
                // Добавление сообщений на веб-страницу
                //$('#chatroom').append('<p><b>' + htmlEncode(name)
                //    + '</b>: ' + htmlEncode(message) + '</p>');

                var data = new FormData();

                data.append("userId", id);
                data.append("message", message);
                data.append("chatId", chatId);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ShowNewMessage", "Home")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        //var chatroom = $('#chatroom');
                        //chatroom.append(result);
                        var start = $('#start');
                        start.prepend(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responsetext);
                    }
                });
            };

            // Функция, вызываемая при подключении нового пользователя
            chat.client.onConnected = function (id, userName, allUsers) {

                //$('#loginBlock').hide();
                //$('#chatBody').show();
                // установка в скрытых полях имени и id текущего пользователя
                $('#hdId').val(id);
                $('#username').val(userName);

                // Добавление всех пользователей
                for (i = 0; i < allUsers.length; i++) {

                    AddUser(allUsers[i].ConnectionId, allUsers[i].Name);
                }
            }

            // Добавляем нового пользователя
            chat.client.onNewUserConnected = function (id, name) {

                AddUser(id, name);
            }

            // Удаляем пользователя
            chat.client.onUserDisconnected = function (id, userName) {

                $('#' + id).remove();
            }

            // Открываем соединение
            $.connection.hub.start().done(function () {

                $('#sendmessage').click(function () {
                    // Вызываем у хаба метод Send
                    chat.server.send('@ViewBag.currentUser.Id', $('#message').val(), $('#chatId').val());
                    $('#message').val('');
                });

                //$('#sendmessage').click(function () {
                //    // Вызываем у хаба метод Send
                //    chat.server.send($('#username').val(), $('#message').val());
                //    $('#message').val('');
                //});

                // обработка логина
                //$("#btnLogin").click(function () {

                //    var name = $("#txtUserName").val();
                //    if (name.length > 0) {
                //        chat.server.connect(name);
                //    }
                //    else {
                //        alert("Введите имя");
                //    }
                //});
            });
        });
        // Кодирование тегов
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        //Добавление нового пользователя
        //function AddUser(id, name) {

        //    var userId = $('#hdId').val();

        //    if (userId != id) {

        //        $("#chatusers").append('<p id="' + id + '"><b>' + name + '</b></p>');
        //    }
        //}
    </script>
}

