@model Community3.Models.AppUser

<body>
    <div style="background-color: white; border-radius: 4px; border: thin solid #dddddd">
        <div class="container-fluid" style="padding-top: 2%">
            @if (Model.ChatRooms.Count == 0)
            {
                <h4 style="text-align:center">У вас нет открытых диалогов</h4><br />
            }
            @foreach (var chat in Model.ChatRooms)
            {
                foreach (var user in chat.AppUsers)
                {
                    if (user.Id != Model.Id)
                    {
                        <div id="@Url.Action("ChatRoom", "Home", new { id =  user.Id})">
                            <div class="row" style="margin-left: auto">
                                <div class="col-md-2">
                                    <img src="@Url.Content(user.Images.Count > 0 ? user.Images.First().Path : "~/Content/no-avatar.png")" alt="Фотография пользователя" title="@user.FullName" style="max-width: 100%; height:auto; border-radius: 10%" />
                                </div>
                                <div class="col-md-6">
                                    <div style="font-weight:600">
                                        @user.FullName
                                    </div>
                                    <div>
                                        @if (chat.Messages.Count != 0)
                                        {
                                            @chat.Messages.Last().CreationTime.ToString("d MMM H:m")
                                        }
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row" style="margin-left: auto; margin-right:auto">
                                <div class="col-md-12">
                                    @if (chat.Messages.Count != 0)
                                    {
                                        @chat.Messages.Last().Text
                                    }
                                </div>
                            </div>
                            <hr />
                        </div>
                    }
                }
            }
        </div>
    </div>
</body>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('div[id]').hover(function () {
                $(this).css('background-color', '#f5f5f5')
            }
            , function () {
                $(this).css('background-color', '#ffffff')
            });

            $('div[id]').click(function () {
                window.location = $(this).attr('id');
            });
        });
    </script>
}