@model Community3.Models.UserProfileEditModel

    <div style="background-color: white; border-radius: 4px; border: thin solid #dddddd">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto; margin-right:auto">
                <div class="col-md-12">
                    @using (Html.BeginForm("EditProfile", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <div>
                            <div>
                                @Html.LabelFor(m => m.Gender)
                            </div>
                            <div>
                                @Html.EditorFor(_ => _.Gender, "GenderTemplate")
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.LabelFor(m => m.Location)
                            </div>
                            <div>
                                @Html.EditorFor(_=>_.Location)
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.LabelFor(m => m.Birthday)
                            </div>
                            <div>
                                @Html.EditorFor(_ => _.Birthday)
                            </div>
                        </div>
                        <div>
                            <div>
                                @Html.LabelFor(m => m.Description)
                            </div>
                            <div>
                                <textarea name="Description" class="form-control" rows="3" style="resize:none"></textarea>
                            </div>
                        </div>
                        <br />
                        <div>
                            <input type="submit" value="Подтвердить" />
                        </div>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
