@model Community3.Models.AppUser

@{
    ViewBag.Title = "UserProfile";
}

<body>

    <div class="MainWindow">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto">
                <div class="col-md-4">
                    @if (Model.Photo != null)
                    {
                        <img src="@Url.Content(Model.Photo.Path)" alt="fgj" title="fgn" style="max-width: 100%; height:auto; border-radius: 10%" /><br />
                    }
                    else
                    {
                        <img src="~/Images/no-avatar.png" alt="Аватар" title="Аватар" style="max-width: 100%; height:auto; border-radius: 10%" /><br />
                    }
                    <br />
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <span style="font-size:large">@Model.UserName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (Model.Gender != Community3.Models.Gender.Empty)
                                {
                                    <span>Пол: @Model.Gender</span>
                                }
                                else
                                {
                                    <span>Пол: </span>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (Model.Location != null)
                                {
                                    <span>Город: @Model.Location</span>
                                }
                                else
                                {
                                    <span>Город: </span>
                                }
                            }
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (Model.Birthday != null)
                                {
                                    <span>День рождения: @Model.Birthday.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <span>День рождения: </span>
                                }
                            }
                        </div>
                    </div>
                    <br />
                    @if (ViewBag.Access != "Denied")
                    {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ActionLink("Change info", "EditProfile", "Home") <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ActionLink("Change photo", "ChangePhoto", "Home") <br />
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>About user:</h4>
                <div>
                    @Model.Description
                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>Groups:</h4>
                @foreach(var group in Model.Groups)
                {
                    @Html.ActionLink(group.Name, "ShowGroupPage", "Group") <br />
                }
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>Friends:</h4>
                @foreach (var user in Model.Friends)
                {
                    @Html.ActionLink(user.UserName, "ShowUserProfile", "Home", new { id = user.Id}, null) <br />
                }
            </div>
        </div>
    </div>
</body>


