@model Community3.Models.AppUser

@{
    ViewBag.Title = "UserProfile";
}

<body>

    <div class="MainWindow">
        <div class="container-fluid" style="padding-top: 2%">
            <div class="row" style="margin-left: auto">
                <div class="col-md-4">
                    @if (Model.Photo != null)
                    {
                        <img src="@Url.Content(Model.Photo.Path)" alt="fgj" title="fgn" style="max-width: 100%; height:auto; border-radius: 10%" /><br />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Images/no-avatar.png")" alt="Аватар" title="Аватар" style="max-width: 100%; height:auto; border-radius: 10%" /><br />
                        @*<img src="~/Images/no-avatar.png" alt="Аватар" title="Аватар" style="max-width: 100%; height:auto; border-radius: 10%" /><br />*@
                    }
                    <br />
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <span style="font-size:large">@Model.FullName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Пол: @Html.DisplayFor(u => u.Gender, "GenderTemplate")</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (Model.Location != null)
                                {
                                    <span>Город: @Model.Location</span>
                                }
                                else
                                {
                                    <span>Город: </span>
                                }
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (Model.Birthday != null)
                                {
                                    <span>День рождения: @Model.Birthday.Value.ToShortDateString()</span>
                                }
                                else
                                {
                                    <span>День рождения: </span>
                                }
                            }
                        </div>
                    </div>
                    <br />
                    @if (ViewBag.Access != "Denied")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ActionLink("Редактировать профиль", "EditProfile", "Home") <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ActionLink("Добавить/поменять фотографию", "ChangePhoto", "Home") <br />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>Обо мне:</h4>
                <div>
                    @Model.Description
                </div>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>Группы:</h4>
                @foreach (var group in Model.Groups)
                {
                    @Html.ActionLink(group.Name, "ShowGroupPage", "Group", new { id = group.GroupId }, null) <br />
                }
            </div>
        </div>
        <hr />
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>Друзья:</h4>
                @foreach (var user in Model.Friends)
                {
                    @Html.ActionLink(user.FullName, "UserProfile", "Home", new { id = user.Id }, null) <br />
                }
                <br />
            </div>
        </div>
    </div>
</body>

